<%- include("partials/header") %>

 <div class="container" style="text-align: center">
  <header class="jumbotron" style="margin-top: 30px">
    <div>
      <h1>
        About
      </h1>
      
    </div>
    
  </header>

    <h5>The essential aim of building hand gesture recognition system is to create a natural interaction between human and computer where the recognized gestures can be
    used for controlling a robot or conveying meaningful information. There are two
    main characteristics should be deemed when designing a HCI system: functionality and usability. </h5>
    <br>

    <h5>
    System functionality refers to the set of functions or
    services that the system equips to the users, while system usability refers to the level
    and scope that the system can operate and perform specic user purposes efficiently.
    The system that attains a suitable balance between these concepts is considered as
    influential performance and powerful system.
    </h5>
    <br>
    <br>
    <h3>The Process</h3>
    <img src="process.png" style="width:1100px;height:450px;">
    <br>
    <h3>Steps</h3>
    <h5>1.Click on the "Click me" button.</h5>
    <h5>2.Click on 's' button to start the predictor</h5>
    <h5>3.Click on 't' button to activate Text-to-Speech</h5>
    <h5>4.Once done click on 'q' to exit</h5>
    <br>
    <br>
    <br>
    <br>

  </div>
 	

<%- include("partials/footer") %>