<%- include("partials/header") %>



<div class="container" style="text-align: center">
 <img src="hand.jpg" style="width:800px;height:450px;">
  <header class="jumbotron" style="margin-top: 30px">
    <div>
      <h2>
        Designed for stroke patients and the speech impaired.
      </h2>
      
    </div>
    
  </header>

    <h5>According the World Health Organization (WHO) reports in 2010, there are more
    than 17,000,000 people are affected with stroke yearly in all countries of the world as a
    result of the brain injury. It causes damage to the blood supply to the brain which
    leads to the paralysis or paraplegia of the patient.</h5>
    <br>
    <h5>Our Solution utilizes the simplicity and accuracy of convolutional neural
    networks along with background elimination to detect various hand gestures. The
    webcam initially captures the users hand movement in the bounding box which continously keeps tracking the input. Once the users hand in in place, they can begin
    capturing the image with the help of a button prompt.</h5>
    <br>
    <br>
    <h5> Click on the button below to run it</h5>

    <a href="/run">
      <button>Click Me </button>
      </a>
  <br>
  <br>
  <br>
  <br>
  </div>




<%- include("partials/footer") %>